### idea ###
.idea/

### Gradle ###
.gradle
build/
out/
src/main/resources/static/.DS_Store
.DS_Store

## OAuth
collaboration-tool/src/main/resources/application.yml

### NPM ###
src/main/resources/static/node_modules
src/main/resources/static/node

src/main/resources/static


